.sideButton {
    -fx-content-display: graphic-only;
    -fx-min-height: 80px;
    -fx-min-width: 120px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #00000000;
}

.sideButton .messages {
    -fx-shape: "M45.5 13.0002H41.1666V32.5002H13V36.8335C13 38.0252 13.975 39.0002 15.1666 39.0002H39L47.6666 47.6668V15.1668C47.6666 13.9752 46.6916 13.0002 45.5 13.0002ZM36.8333 26.0002V6.50016C36.8333 5.3085 35.8583 4.3335 34.6666 4.3335H6.49998C5.30831 4.3335 4.33331 5.3085 4.33331 6.50016V36.8335L13 28.1668H34.6666C35.8583 28.1668 36.8333 27.1918 36.8333 26.0002Z";
    -fx-background-color: #E3F2FD;
    -size: 48;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.sideButton .calendar {
    -fx-shape: "M39.3331 4.58333H37.1665V0.25L32.8331 0.25V4.58333L11.1665 4.58333V0.25L6.83313 0.25L6.83313 4.58333H4.66646C2.28313 4.58333 0.33313 6.53333 0.33313 8.91667L0.33313 43.5833C0.33313 45.9667 2.28313 47.9167 4.66646 47.9167L39.3331 47.9167C41.7165 47.9167 43.6665 45.9667 43.6665 43.5833L43.6665 8.91667C43.6665 6.53333 41.7165 4.58333 39.3331 4.58333ZM39.3331 43.5833L4.66646 43.5833L4.66646 15.4167L39.3331 15.4167L39.3331 43.5833Z";
    -fx-background-color: #E3F2FD;
    -size: 48;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.sideButton .avatar {
    -fx-shape: "m 26 4.3 c -12 0 -21.7 9.7 -21.7 21.7 c 0 12 9.7 21.7 21.7 21.7 c 12 0 21.7 -9.7 21.7 -21.7 c 0 -12 -9.7 -21.7 -21.7 -21.7 z m 0 6.5 c 3.6 0 6.5 2.9 6.5 6.5 c 0 3.6 -2.9 6.5 -6.5 6.5 c -3.6 0 -6.5 -2.9 -6.5 -6.5 c 0 -3.6 2.9 -6.5 6.5 -6.5 z m 13 23.7 c -2.8 4 -7.6 6.7 -13 6.7 c -5.4 0 -10.2 -2.7 -13 -6.7 c -0.1 -4.1 8.7 -6.3 13 -6.3 c 4.3 0 12.9 2.2 13 6.3 z";
    -fx-background-color: #E3F2FD;
    -size: 48;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.sideButton .gear{
    -fx-background-color: #E3F2FD;
    -fx-shape: "M40.6438 28.1235C40.7284 27.4302 40.7919 26.7368 40.7919 26.0002C40.7919 25.2635 40.7284 24.5702 40.6438 23.8768L45.1087 20.3018C45.5107 19.9768 45.6165 19.3918 45.3626 18.9152L41.1305 11.4185C40.8765 10.9418 40.3052 10.7685 39.8397 10.9418L34.5706 13.1085C33.4703 12.2418 32.2853 11.5268 30.9945 10.9852L30.1903 5.2435C30.1269 4.7235 29.6825 4.3335 29.1535 4.3335H20.6892C20.1601 4.3335 19.7158 4.7235 19.6523 5.2435L18.8482 10.9852C17.5574 11.5268 16.3724 12.2635 15.272 13.1085L10.003 10.9418C9.51629 10.7468 8.96611 10.9418 8.71218 11.4185L4.48002 18.9152C4.20493 19.3918 4.3319 19.9768 4.73395 20.3018L9.19887 23.8768C9.11423 24.5702 9.05075 25.2852 9.05075 26.0002C9.05075 26.7152 9.11423 27.4302 9.19887 28.1235L4.73395 31.6985C4.3319 32.0235 4.22609 32.6085 4.48002 33.0852L8.71218 40.5818C8.96611 41.0585 9.53745 41.2318 10.003 41.0585L15.272 38.8918C16.3724 39.7585 17.5574 40.4735 18.8482 41.0152L19.6523 46.7568C19.7158 47.2768 20.1601 47.6668 20.6892 47.6668H29.1535C29.6825 47.6668 30.1269 47.2768 30.1903 46.7568L30.9945 41.0152C32.2853 40.4735 33.4703 39.7368 34.5706 38.8918L39.8397 41.0585C40.3264 41.2535 40.8765 41.0585 41.1305 40.5818L45.3626 33.0852C45.6165 32.6085 45.5107 32.0235 45.1087 31.6985L40.6438 28.1235ZM24.9166 34.6668C20.735 34.6668 17.3333 31.2652 17.3333 27.0835C17.3333 22.9018 20.735 19.5002 24.9166 19.5002C29.0983 19.5002 32.5 22.9018 32.5 27.0835C32.5 31.2652 29.0983 34.6668 24.9166 34.6668Z";
    -size: 48;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}


.sideButton:hover{
    -fx-background-color: #00000033;
}
.sideButton:hover .messages{
    -fx-background-color: #000000;
}
.sideButton:hover .calendar{
    -fx-background-color: #000000;
}
.sideButton:hover .avatar{
    -fx-background-color: #000000;
}
.sideButton:hover .gear{
    -fx-background-color: #000000;
}