.button{
    -fx-background-color: #ffffff;
    -fx-background-radius: 7px;
    -fx-border-color: #2196f3;
    -fx-border-radius: 7px;
    -fx-border-width: 2px;
    -fx-label-padding: 0px;
    -fx-padding: 10px;
    -fx-pref-width: 230px;
    -fx-pref-height: 80px;
}

.buttonBox{
    -fx-spacing: 10px;
}

.textFields{
    -fx-pref-height: 70px;
    -fx-pref-width: 500px;
    -fx-background-radius: 7px;
    -fx-border-color: #2196f3;
    -fx-border-radius: 7px;
    -fx-border-width: 2px;
}

.textFieldsBox{
    -fx-spacing: 0px;
}

.boxBox{
    -fx-spacing: 50px;
    -fx-pref-width: 550px;
}