.titleText {
    -fx-font-size: 22;
    -fx-fill: black;
}

.titleBox {
    -fx-pref-width: 200;
    -fx-spacing: 10;
    -fx-background-color: #f0f0f0;
    -fx-border-color: #1565C0;
    -fx-border-width: 7;
}

.tablePreview {
    -fx-pref-width: 200;
    -fx-pref-height: 200;
    -fx-spacing: 5;
    -fx-background-color: #1565C0;
    -fx-border-color: #f0f0f0;
    -fx-border-width: 2;
    -fx-cursor: hand;
}

.gridRow {
    -fx-pref-height: 200;
    -fx-pref-width: 680;
    -fx-spacing: 20;
}

.gridColumn {
    -fx-pref-height: 200;
    -fx-pref-width: 200;
    -fx-spacing: 20;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-cursor: HAND;
    -fx-font-size: 18;
}

.createCompanyButton {
    -fx-pref-height: 40;
}

.selectImageButton {
    -fx-pref-width: 50;
    -fx-pref-height: 50;
}

.selectCompanyButton {
    -fx-pref-width: 50;
    -fx-pref-height: 50;
}

.fieldInfo {
    -fx-background-color: #1565C0;
    -fx-border-color: #f0f0f0;
    -fx-border-radius: 5;
    -fx-font-size: 18;
}

.elementInvitation {
    -fx-border-radius: 5;
    -fx-border-color: white;
    -fx-background-color: #BBDEFB;
    -fx-background-radius: 5;
}

.addCardField {
    -fx-background-color: #BBDEFB;
    -fx-border-color: #f0f0f0;
    -fx-border-radius: 5;
    -fx-font-size: 16;
 }

.addCardButton {
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-border-radius: 5;
    -fx-border-color: white;
}